#pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#pagination .pagination {
  margin-bottom: 0px;
}

.img-fit-cover {
  -o-object-fit: cover;
  object-fit: cover;
}

